<p>Title: <%= @album.title() %></p>
<p>Quantity: <%= @album.quantity() %></p>
<p>Artist ID: <%= @album.artist_id() %></p>
<p>Sell Price: <%= @album.sell_price() %></p>
<p>Buy Price: <%= @album.buy_price() %></p>

<form method="get" action="/albums/<%= @album.id %>/update">
  <input type="submit" value="Update Album">
</form> 

<br/>
<br/>
<br/>
<br/>

