<form method="post" action="/albums/<%= @album.id %>">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title" value="<%= @album.title %>" />

  <br/>
  <br/>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value="<%= @album.quantity %>"/>

  <br/>
  <br/>

  <label for="artist_id">Artist ID:</label>
  <input id="artist_id" value = "<%= @album.artist_id %>" type="number" name="artist_id"/>

  <br/>
  <br/>

  <label for="sell_price">Sell Price:</label>
  <input id="sell_price" type="number" name="sell_price" value="<%= @album.sell_price %>"/>

  <br/>
  <br/>
  
  <label for="buy_price">Buy Price</label>
  <input id="buy_price" type="number" name="buy_price" value="<%= @album.buy_price %>"/>

  <br/>
  <br/>

  <input type="submit" value="Update Album" />

</form>